
.manage-gallery-container {
    padding: 100px 20px;
    margin: 0 auto;

  background-color: #fceee4;
  background-image: url('../assets/bg-4.jpg');

  background-repeat: no-repeat;
  background-position: center center;

  background-size: cover;
  background-attachment: fixed;

}
.page-title {
    /* font-family: serif; */
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 40px;
}
.system-message { 
    text-align: center; 
    font-weight: bold; 
    margin-bottom: 20px;
}
.table-responsive {
    
    overflow-x: auto; /* Ensures table is scrollable on small screens */
}
table {
    width: 70%;
    justify-self: center;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
    font-weight: bold;
}
tr:hover {
    background-color: #f9f9f9;
}
.btn-add {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #35dc51;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-add:hover {
    background-color: #65e77d;
}

.btn-remove {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    background-color: #d01e1e;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.btn-remove:hover {
    background-color: #d74c4c;
}

#photoHere{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.page-title-link{
    text-decoration: none;
    color: #1d1d1d;
}